<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display - Default Template</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <h1 id="sermon-title"></h1>
            <p id="sermon-date"></p>
        </div>
        
        <div id="content">
            <div id="paragraph-text"></div>
        </div>
        
        <div id="connection-status">
            <!-- <span id="connection-type"></span> -->
            <span id="connection-count"></span>
        </div>
    </div>
</body>
</html>
